@import './vars';
@import './colors';
@import './functions';

$column-gutter-1: 40;
$column-gutter-2: $column-gutter-1 * 2;
$column-width: 210;
$font-size: 12;
// TODO add scroll and test !!!

.flyout__mobile-overlay {
  background: transparentize($white, 0.1);
  bottom: 0;
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: $close-overlay-z;

  &.active {
    display: block;
    visibility: visible;
  }
}

.flyout__mobile-nav {
  background: $gray-2;
  display: flex;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(percentage(3/3));
  transition: none;
  width: 240%;
  z-index: $mobile-menu-z;

  &.active {
    transform: translateX(percentage(2/3));
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 198ms;
  }
}

.flyout__primary-nav {
  background: $white-off;
  border-left: 1px solid $gray-1;
  height: 100%;
  overflow: auto;
  position: fixed;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 198ms;
  width: 80%;

  &.primary {
    z-index: $mobile-menu-z * 2;
  }
  &.secondary {
    transform: translateX(percentage(3/3));
    z-index: $mobile-menu-z * 3;
  }
  &.tertiary {
    transform: translateX(percentage(3/3));
    z-index: $mobile-menu-z * 4;
  }
}

.flyout__mobile-nav-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.flyout__mobile-nav-item-header {
  align-items: center;
  background: $white;
  border-bottom: $gray-1 solid 1px;
  color: $black;
  display: flex;
  height: 105px;
  justify-content: center;
  position: relative;
  width: 42%;

  .flyout__mobile-nav-item-icon {
    left: 0;
    margin-top: -13px;
    position: absolute;
    top: 50%;
  }
  .left-icon {
    left: auto;
    right: 0;
  }

  .flyout__mobile-nav-item-label {
    padding: 0;
  }
}

.flyout__mobile-nav-item-label {
  align-items: center;
  display: flex;
  flex: 1;
  font-size: rem($font-size-m);
  font-weight: 700;
  justify-content: center;
  padding-left: 20px;
  text-transform: uppercase;

  @include bp(tablet) {
    font-size: rem($font-size);
  }

  &.left-align {
    justify-content: flex-start;
  }
}

.flyout__mobile-nav-item-select {
  align-items: center;
  background: $white-off;
  border-bottom: $gray-1 solid 1px;
  color: $black;
  display: flex;
  font-weight: 700;
  height: 52px;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.flyout__mobile-nav-item-anchor {
  color: $black;
  display: flex;
  height: 100%;
  text-decoration: none;
  width: 100%;
  &:hover {
    background-color: $gray-2;
  }
}

.flyout__mobile-nav-item-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 0 0 20px;
  transform-origin: 50% 50%;

  &.left-icon {
    padding: 0 0 0 20px;
    transform: rotate(180deg);
  }
}
