$browser-context: 16; // Default
$font: 'Montserrat', sans-serif;

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

@mixin bp($point) {
  @if $point == lg {
    @media (max-width: 1600px) {
      @content;
    }
  } @else if $point == desktop {
    @media (max-width: 1025px) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 768px) and (max-width: 1024px) {
      @content;
    }
  } @else if $point == sm {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $point == xsm {
    @media (min-width: 767px) {
      @content;
    }
  } @else if $point == smH {
    @media (max-height: 420px) {
      @content;
    }
  }
}

@mixin hide() {
  display: none !important;
  visibility: hidden !important;
}

@mixin show($display: flex) {
  display: $display !important;
  visibility: visible !important;
}

@mixin font() {
  font-family: $font;
}

@mixin font-medium() {
  @include font();
  font-weight: 500;
}

@mixin font-bold() {
  @include font();
  font-weight: 700;
}
