@import 'functions';

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  box-sizing: border-box;
  @include font();
  height: 200%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.fixed-container {
  position: fixed;
  width: 100%;
}
