%clear-space {
  margin: 0;
  padding: 0;
}

%center-align {
  justify-content: center;
  align-items: center;
}

%full-width {
  width: 100%;
  position: relative;
}

%hide {
  display: none !important;
  visibility: hidden !important;
}

%unstyled-list {
  @extend %clear-space;
  list-style-type: none;
}

%show {
  display: block !important;
  visibility: visible !important;
}

%full-height {
  height: 100%;
}

%full-container {
  @extend %full-width;
  @extend %full-height;
}

%view-height {
  height: 100vh;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}